@font-face {
    font-family: MadeInChina;
    src: url('../fonts/made-in-china.TTF');
}


* {
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1 {
  font-family: 'MadeInChina';
  display: inline-block;
  font-size: 150px;
  color: white;
  font-weight: 400;
  vertical-align: top;
  margin-top: 100px;
}

img { max-width: 100%; }

body {
  background-color: #c7ebff;
}

.sky {
  z-index: 0;
  position: fixed;
}

.main-content {
  padding-top: 10vh;
  position: relative;
  z-index: 100;
  background-image: url('../assets/background_village_small-01.png');
  background-position: bottom;
  background-repeat: repeat-x;
  min-height: 90vh;
  text-align: center;
}

.cloud1 { width: 220px; }
.cloud2 { width: 150px; }

.title {
  width: 100%;
  text-align: center;
  background-image: url('../assets/brushstroke-03.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-android,
.icon-ios {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
}

.coming-soon {
}

#mailing-list {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  padding: 50px 0;
}

#mailing-list h2 {
  font-weight: 400;
  color: white;
}

#mailing-list input[type="email"] {
  border: none;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgba(255,255,255,.8);
  width: 300px;
}

#mailing-list input[type="email"]:focus {
  outline: 2px solid white;
  border-radius: 10px;
  outline-offset: 5px;
}

#mailing-list button {
  margin-left: 10px;
  border: none;
  padding: 20px;
  font-size: 33px;
  border-radius: 10px;
  background-color: #29abe2;
  color: white;
  font-family: 'MadeInChina';
  opacity: .8;
  cursor: pointer;
  margin-bottom: 10px;
}

#mailing-list button:hover {
  opacity: 1;
}

#mailing-list .confirmation {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  height: 20px;
}


@media (max-width: 970px) {
  .title img { width: 120px }
  .title h1 { font-size: 100px; margin-top: 55px; }
}

@media (max-width: 500px) {
  .title img { width: 50px }
  .title h1 { font-size: 40px; margin-top: 25px; }
  .icon-android img,
  .icon-ios { width: 200px; display: block; margin: 10px auto; }
  #mailing-list h2 { padding: 0 20px; }
  #mailing-list { position: relative; }
  #mailing-list input[type="email"] { font-size: 12px; max-width: 40%; }
  #mailing-list button { width: 35%; font-size: 20px; margin-left: 5px; }
